@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", serif;
}
:root {
  --btn-color: rgb(224, 44, 109);

  --text-dark-color: #000;
  --text-gray-color: rgb(114, 114, 114);
  --text-white-color: #fff;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
ul {
  display: flex;
  list-style: none;
}
ul a {
  text-decoration: none;
  padding: 20px;
  color: #3a3a3a;
}
.header-section {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
}
.hamburger-menu-icon {
  display: none;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: column-reverse; */
}
.btn-secondary{
  border: 30px;
  gap: 12px;
  background-color:var(--btn-color);
  color: #fff;

}


.feature-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 2rem 0;
   
}
.feature-content{
margin-top: 2rem;
  
}
.feature-content h3, p, button{
margin-bottom: 1rem;
}

.feature-content h3{
  font-size: 3rem;
}

.feature-content p{
  width: 80%;
  font-size: 1rem;
}

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  background-color: var(--text-dark-color) ;
  color: var(--text-white-color);
  max-width: none;
}

.footer-section .footer-icon {
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
margin-top: 20px ;

}


/* responsive css here for header */
@media screen and (max-width: 576px) {
  .header-section {
    padding: 20px 10px;
  }
  /* 1st step  */
  .nav-container ul {
    display: none;
  }
  /* 2nd step */
  .logo {
    text-align: center;
  }
  /* 3rd step */
  .hamburger-menu-icon {
    display: block;
  }
}

.btn-primary {
  padding: 1rem 2rem;
  background-color: var(--btn-color);
  border-radius: 10px;
  font-size: 1.2rem;
  color: var(--text-white-color);
  border: none;
}

.btn-secondary {
  padding: 1rem 2rem;
  background-color: var(--btn-color);
  font-size: 1.2rem;
  color: var(--text-white-color);
  border: none;
}

.banner {
  display: flex;
  align-items: center;
  padding: 50px 0;
  height: 100vh;
  justify-content: space-between;
  gap: 10px;
}
.banner-heading {
  font-size: 30px;
}
.banner-description {
  margin: 10px 0;
}
.banner-image {
  background-image: url("../images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* responsive for banner section */
@media screen and (max-width: 576px) {
  .banner {
    flex-direction: column-reverse;
    padding-top: 100px;
  }
  .banner-content {
    text-align: center;
  }
  .banner-image img {
    width: 300px;
  }
}

.sponsors-companies {
  display: grid;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  align-items: center;
  grid-template-columns: repeat(7, 1fr);
  padding: 50px 0;
  margin-bottom: 20px;
  gap: 20px;
}

.sponsors-companies img {
  width: 70px;
}

/* responsive for sponsors-companies */
@media screen and (max-width: 576px) {
  .sponsors-companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* products-container section css start */
.products-container {
  margin: 60px 0;
}
.section-title{
  text-align: center;
  margin: 20px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 0;
}
.card {
  background: #fff;
  width: 350px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px #00000038;
}
.card-content {
  padding: 15px 25px;
}
.card-image {
  text-align: center;
  padding-top: 15px;
}
.card img {
  max-width: 100%;
}
.ratting {
  color: #fb8200;
  font-size: 14px;
}
.ratting-count {
  color: #000;
}
.isItAvaiable {
  display: flex;
  align-items: center;
  gap: 10px;
}
.card p {
  font-size: 15px;
  font-weight: 600;
}
/* products-container section css end */
@media screen and (max-width: 576px) {
  .card-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}


  

